<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nbkproduction.tankgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tank"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TankEngine"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<uses-permission android:permission="WRITE_EXTERNAL_STORAGE"/>-->
    </application>

</manifest>